<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is a list of Cats Page:</h2>
    <ul>
        <% for(let cats  of cat){%>
        <li><%= cats %></li>
        <%}%>
    </ul>
</body>
</html>