<%- include('partials/head') %>

    <nav class="navbar navbar-expand-lg bg-body-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Express JS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/r/chess">chess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/r/cricket">cricket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <h1>Hello EJS</h1>
    <h2>This is EJS page <%= 4+5+9-4 %></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo nisi deleniti voluptas similique dolores ducimus facere iste. Nihil, ipsam ipsum, minima, aperiam porro sed modi quos illum suscipit in fugit.</p>
