*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0c0c;
    font-family: Arial, sans-serif;
}

#score-container{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 2px solid #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-image: url('download.jpeg');
    background-size: cover;
    background-position: center; */
    backdrop-filter: blur(15px);
    background-color: rgba(104, 96, 96, 0.2);
    border-radius: 10px;
    box-shadow: 5px 14px 8px rgba(56, 54, 54, 0.1);
    color: #ecebeb;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s ease;
}

#score-container img {
    width: 95%;
    height: 60%;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0.8;
}
#win-note {
    position: absolute;
    width: 88%;
    height: 55%;
    top: 43%;
    left: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.432);
    padding: 10px;
    border-radius: 10px;
    color: #49e70b;
}
button {
    width: 130px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid #3b3636;
    border-radius: 5px;
    background-color: inherit;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#setDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#set-score{
    width: 80px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #3b3636;
    border-radius: 5px;
    background-color: #202020;
    color: rgb(228, 218, 218);
    font-size: 0.9rem;
    cursor: pointer;
}
button:nth-of-type(1):hover {
    background-color: #27aa22a9;
    
}
button:nth-of-type(2):hover {
    background-color: #ffda0ba9;
    
}
button:nth-of-type(3):hover {
    background-color: #fc0505;
    
}
button:disabled {
    cursor: not-allowed;
}