body{
    background-color: lightgrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    display: block;
}